@import url('https://at.alicdn.com/t/font_2448847_ogyed8on8j.css');

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
    font-size: 14px;
    font-family: 'Arial Narrow', Arial, sans-serif; /* 优化字体设置 */
    margin: 0; /* 移除默认外边距 */
    padding: 0; /* 移除默认内边距 */
}