<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wind.purchasebackend.mapper.OrderinfoMapper">

    <resultMap id="BaseResultMap" type="com.wind.purchasebackend.domain.Orderinfo">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="ordername" column="ordername" />
            <result property="company" column="company" />
            <result property="phone" column="phone" />
            <result property="yudingtime" column="yudingTime" />
            <result property="price" column="price" />
            <result property="huizongstatus" column="huizongStatus" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,ordername,company,phone,yudingTime,
        price,huizongStatus
    </sql>
</mapper>
